<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Vendor Tracker - Add Vendor</title>
  </head>
  <body>
    <h1>Add new vendor</h1>
    <form action="/vendors" method="post">
      <label for="name">Enter name of vendor:</label>
      <input id="name" name="name" type="text" required>
      <button type="submit">ADD</button>
    </form>
    <div><a href="/">HOME</a></div>
  </body>
</html>